{% extends "!layout.html" %}

{% block extrahead %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{%- block document %}
<div class="documentwrapper">
    {%- if render_sidebar %}
    <div class="bodywrapper">
        {%- endif %}

        {%- block relbar_top %}
        {%- if theme_show_relbar_top|tobool %}
        <div class="related top">
            &nbsp;
            {{- rellink_markup () }}
        </div>
        {%- endif %}
        {% endblock %}

        <div class="body" role="main">
            <p id="mobilelink">
                <a href="#mobileanchor">
                    <i class="fa fa-caret-down" aria-hidden="true"></i> navigation links
                </a>
            </p>
            {% block body %} {% endblock %}

            <!-- Render the warning message if using meta tag `:todo:` -->
            {% if meta is not none and 'todo' in meta %}
            <p class="under-construction">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                This page is still under construction
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </p>
            {% endif %}
        </div>

        {%- block relbar_bottom %}
        {%- if theme_show_relbar_bottom|tobool %}
        <div class="related bottom">
            &nbsp;
            {{- rellink_markup () }}
        </div>
        {%- endif %}
        {% endblock %}

        {%- if render_sidebar %}
    </div>
    {%- endif %}
</div>
{%- endblock %}

